Hello Abuse-Team,

Starting ${startTime} and last seen ${endTime}, your system with the IP: ${ip}, Reverse DNS hostname: ${sourcename} from GeoIP location: ${city}, ${region}, ${country} has attacked one of our systems: ${target} on the service: ${service} for ${count} attempts.

Your system attempted ${numUsers} usernames as listed here: ${users}

We found your contact address in the Contact-Database at abusix.org. Should the address be incorrect, contact Abusix at http://abusix.org/services/abuse-contact-db

This report has been submitted automatically using the x-arf specification found at http://www.x-arf.org/specification.html
.
